* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: sandybrown;
    background-image: url("../image/b.jpg");
}

.wrapper {
    width: 320px;
    background: transparent;
    border: 1px solid black;
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 40px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: black;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box {
    display: flex;
}

#sb {
    width: 50%;
    text-align: center;
}

input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.695);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 28px;
}

.slider-container {
    display: block;
    position: fixed;
    bottom: 20%;
    width: 350px;
    text-align: center;
}

/* Tuỳ chỉnh phần track */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 30px; /* Chiều cao của thanh trượt */
    background-color: #ffffff00; /* Màu của phần track */
    border-radius: 50px; /* Độ cong của mép */
    outline: none; /* Loại bỏ đường viền mặc định */
    margin: 0;
}

/* Tuỳ chỉnh phần thumb (nút trượt) thành ảnh */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px; /* Chiều rộng của thanh trượt */
    height: 50px; /* Chiều cao của thanh trượt */
    margin-bottom: 10px;
    background-image: url('../image/a.png'); /* Đường dẫn đến hình ảnh */
    background-size: cover; /* Đảm bảo hình ảnh đầy đủ kích thước */
    border: none; /* Loại bỏ đường viền */
    cursor: pointer; /* Đổi kiểu con trỏ khi di chuyển qua phần thumb */
}
